# Core
numpy
scipy
librosa
soundfile
pyloudnorm
matplotlib
scikit-learn
pandas
sentence-transformers
transformers
torch
crepe
pronouncing
nltk
# Optional but powerful
essentia
madmom
python-Levenshtein